.heading{
    margin: 0px;
    width: 100%;
    font-size: 23px;
}
.note{
    font-size: 17px;
    color: black;
}
body{
    background-size:cover ;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
}
.song_name{
    font-size: 25px;
    margin: 0px;
}